
  <div class="container ">
    <h3 class="mt-4 fs-4">CONTACT INFO</h3>
    <div class="row mb-3 mt-5">
      <div class="col-4 text-end ">
        contact name
        <span class="required-asterisk">*</span>
      </div>
      <div class="col-6">
        <input type="text" class="form-control" id="contactname" placeholder="Enter Your Name" value="Aswin"required>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4 text-end">
        contact number
        <span class="required-asterisk">*</span>
      </div>
      <div class="col-6">
        <input type="text" class="form-control" id="contactnumber" placeholder="Enter Your PhoneNumber " value="9544548002" required>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4 text-end text-muted " disabled>
        contact Email
      </div>
      <div class="col-6">
        <div class="input-group">
          <input type="text" class="form-control disabled-input" placeholder="abc@gmail.com" value="shelja@gmail.com" disabled>
          <a class="btn disabled-button" type="button" id="button" disabled><i class="fa-sharp fa-check" style="color:green"></i></a>
        </div>

      </div>
      <div class="row mt-4">
        <div class="col-4 text-end"> Message</div>
        <div class="col-6 ">
          <textarea class="form-control ms-2" placeholder="Write something" rows="4"></textarea>
        </div>
      </div>

    </div>
    <div class="buttons">
      <button class="btn btn-save me-2 fs-sm-6">Save</button>
      <button class="btn btn-savenext fs-sm-6 text-white">Save & Next </button>
    </div>
  </div>
